#home-container {
    width: 70%;
    color: rgb(85, 85, 85);
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 2vh;
}

.fav-img {
    height: 240px;
}

.fav-card {
    margin-bottom: 10px;
}

.demote-button {
    margin-left:50px;
}

#search-form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search-input {
    height: 50px;
    width: 20%;
}

.char-search-input {
    height: 50px;
    width: 100%;
}
.search-form {
    height: 50px;
}

#search-results {
    background-color: rgba(34, 29, 29, 0.7);
    padding: 1vh;
    margin: 0;
    border: transparent;
}

#search-results:hover {
    background-color: rgba(34, 29, 29, 0.6);
}

#user-link {
    text-decoration: none; /* remove underline */
    color: white;
}

.contribution-data {
    margin: 0;
    padding :0;
}

#delete-button {
    background: none;
    border: none;
}

.table-header {
    background-color: #F1F1F1
}

#contributions-table th, td {
    border: 1px solid black !important;
    text-align: left;
}

#contributions-table td {
    background-color: white;
}

#contributions-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#contributions-table td:last-child {
    border: none !important;
    background-color: transparent !important;
}

/*.outline {*/
/*    fill: none;*/
/*    stroke: white !important; !* Outline color *!*/
/*    stroke-width: 2px !important;*/
/*}*/

.fav-button {
    background: none;
    border: none;
}

#container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 2vh;
}

.header {
    border-bottom: 2px solid black;
}

#search-table {
    flex: 0.8;
}

#search-table #search-input {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 2px solid #1f1f1f;
    display: flex;
    height: 40px;
    flex: 1;
    text-indent: 10px;
}

#search-table #search-input::placeholder {
    font-weight: bold;
}



#prev {
    margin-left: 30px;
}

#prev-table {
    width: 50%;
    font-weight: bold;
 }
 
 #prev-table tr:hover {
    background-color: beige;
    cursor: pointer;
 }
 
 #prev-table tbody tr td:first-child {
    text-align: center;
    padding-left: 16px;
 }
 
 #prev-table tbody tr td:last-child {
    text-align: center;
    padding-right: 16px;
 }
 
 #prev-table tbody tr td {
    padding: 20px;
 }
 