.register-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20vh; /* Adjust vertical margin to center vertically */
    background-color: white;
  }
  
  .register-container h2 {
    margin-bottom: 20px; /* Add space below the title */
  }
  
  .form-group {
    margin-bottom: 20px; /* Add space between form groups */
  }
  
  .btn-register {
    width: 100%; /* Make the button full-width */
    width: 100%;
    border: none;
    padding: 15px 32px;
    background-color: rgb(209, 209, 209);
  }
  
  .text-center {
    padding: 5%;
  }
  