thead tr {
    background-color: #F1F1F1;
}

th, td {
    border: 1px solid black;
    text-align: left;
}

td:last-child {
    border: none;
}

#contributions-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#search-input {
    border-width: thin;
    border-color: black;
    height: 30px;
    box-sizing: border-box;
}

#search-button {
    height: 30px;
}