.login-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20vh;
}

.login-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px; 
}

.btn-login {
    width: 100%;
  }

.text-center {
    padding: 5%;
  }
