<!DOCTYPE html>
<html>
    <head>
        <title>Add New Character</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <a href="/">return to home</a>
        <a href="/allchar">all chars</a>
        <h1>new characters</h1>
        <div id="add-character">
            <form id="add-character-form">
                <label for="name">Name:</label>
                <input id="input-name" type="text" name="name"><br>
                
                <label for="subtitle">Subtitle:</label>
                <input id="input-subtitle" type="text" name="subtitle"><br>
                
                <label for="description">Description:</label>
                <input id="input-description" type="text" name="description"><br>
                
                <label for="strength">Strength:</label>
                <input id="input-strength" type="number" name="strength"><br>
                
                <label for="speed">Speed:</label>
                <input id="input-speed" type="number" name="speed"><br>
                
                <label for="skill">Skill:</label>
                <input id="input-skill" type="number" name="skill"><br>
                
                <label for="fearFactor">Fear Factor:</label>
                <input id="input-fear-factor" type="number" name="fearFactor"><br>
                
                <label for="power">Power:</label>
                <input id="input-power" type="number" name="power"><br>
                
                <label for="intelligence">Intelligence:</label>
                <input id="input-intelligence" type="number" name="intelligence"><br>
                
                <label for="wealth">Wealth:</label>
                <input id="input-wealth" type="number" name="wealth"><br>
                
                <button type="submit">Submit</button>
            </form>
        </div>
        <script type="text/javascript" src="/scripts/newchar.js"></script>
    </body>
</html>